# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Streamlit cache
.streamlit/

# Model artifacts
models/model.pkl

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
